apiVersion: v1
kind: Secret
metadata:
  name: spectrocloud-default-creds
  namespace: crossplane-system
type: Opaque
stringData:
  credentials: |
    {
      "api_key": "{{ .Values.api_key }}",
      "host": "{{ .Values.host }}",
      "ignore_insecure_tls_error": "{{ .Values.ignore_insecure_tls_error }}",
      "project_name": "{{ .Values.project_name }}"
    }